body
{
	background-image: url("фон.jpg");
	background-repeat: no-repeat;
}

#block1 
{
	border-radius: 10px;
	background-color: #FF7F50;
	position: absolute;
	border: 2px solid red;
	width: 978px;
	height: 170px;
	top: 65px;
	left: 150px;
	right: 0px;
	bottom: 0px;
}

#jpgButtonBlock1
{
	position: absolute;
	border-radius: 20px;
	border: 0.8px solid gray;
	top: 30px;
	left: 50px;
	right: 0px;
	bottom: 0px;
	width: 100px;
	height: 100px;
	background-image: url("jpgBlock1.jpg");

}

#textBlock1
{
	height: 170px;
	font-size: 250%;
	color: #ADD8E6;
	position: absolute;
	left: 200px;
	bottom: 20px;
	font-family: CTCSplashRounded-Italic;
}

#block2
{
	position: absolute;
	width: 978px;
	height: 50px;
	top: 240px;
	left: 150px;
	right: 0px;
	bottom: 0px;
		
}

#block3
{
	background-color: white;
	border-radius: 10px;
	position: absolute;
	border: 2px solid white;
	width: 978px;
	height: 1000px;
	top: 292px;
	left: 150px;
	right: 0px;
	bottom: 40px;
}

.but1
{
	
	background-color: #20B2AA;
	border: 1px solid black;
	border-radius: 10px;
	position: absolute;
	width: 244px;
	height: 50px;
	top: 0px;
	left: 0px;
	bottom: 0px;
	text-decoration: none;
}
.but2
{
	background-color: #20B2AA;
	border: 1px solid black;
	border-radius: 10px;
	position: absolute;
	width: 244px;
	height: 50px;
	top: 0px;
	left: 245px;
	bottom: 0px;
}

.but3
{
	background-color: #20B2AA;
	border: 1px solid black;
	border-radius: 10px;
	position: absolute;
	width: 244px;
	height: 50px;
	top: 0px;
	left: 490px;
	bottom: 0px;
}

.but4
{
	background-color: #20B2AA;
	border: 1px solid black;
	border-radius: 10px;
	position: absolute;
	width: 244px;
	height: 50px;
	top: 0px;
	left: 735px;
	bottom: 0px;
}

.but1:hover
{
	opacity: 0.8;
	background-color: #DCDCDC;
}

.but1:activity
{
	
}

.but2:hover
{
	opacity: 0.8;
	background-color: #DCDCDC;
}

.but3:hover
{
	opacity: 0.8;
	background-color: #DCDCDC;
}

.but4:hover
{
	opacity: 0.8;
	background-color: #DCDCDC;
}

#jpgButtonBlock1:hover
{
	opacity: 0.8;
	background-color: #DCDCDC;
}



















